.root {
  @apply relative pt-0 mt-12 md:mt-0 pb-48;
  background-color: rgb(234, 76, 76);
}
.header {
  @apply text-left text-white text-lg mt-12;
}
.gridWrapper {
  @apply grid grid-cols-1 md:grid-cols-5 lg:grid-cols-3 place-items-center px-8;
}
.imageWrapper {
  @apply col-span-1 md:col-span-2 lg:col-span-1 my-12 md:my-0;
}
.roadmapWrapper {
  @apply col-span-1 md:col-span-3 lg:col-span-2 flex flex-col justify-end;
}
.timelineDiv {
  @apply my-36;
}


.ourMission {
  @apply relative bg-white py-12 md:-top-10 lg:-top-20;
  border-radius: 15px;
}
.ourMissionHeader {
  @apply text-black !text-2xl mb-8;
}
.contentRow {
  @apply grid grid-cols-1 md:grid-cols-3 gap-x-12 gap-y-12 md:gap-y-0;
}
.contentColumn p {
  @apply text-sm text-center mx-auto;
  max-width: 30ch;
  color: #727272;
  font-family: "Prompt",sans-serif;
}
.content {
  @apply p-4 inline-flex;
  border-radius: 15px;
}
.community {
  background-color: rgb(170, 153, 233);
  color: rgb(170, 153, 233);
}
.mentalHealth {
  background-color: rgb(98, 161, 147);
  color: rgb(98, 161, 147);
}
.charity {
  background-color: rgb(254, 174, 89);
  color: rgb(254, 174, 89);
}
.contentTitle {
  @apply my-2;
}
.communityTitle {
  color: rgb(170, 153, 233);
}
.mentalHealthTitle {
  color: rgb(98, 161, 147);
}
.charityTitle {
  color: rgb(254, 174, 89);
}
.toggleDiv {
  @apply inline-flex flex-row justify-center items-center md:ml-auto w-auto gap-x-4 mt-6 md:mt-0;
}
.toggleStateHeader {
  @apply text-white;
}
.toggleSwitch {
  @apply md:w-14 md:h-7 w-12 h-6 flex items-center p-1 cursor-pointer text-center;
  background: #fff;
  border-radius: 9px;
}

.toggleKnob {
  @apply bg-black md:w-6 md:h-6 h-5 w-5 shadow-md transform duration-300 ease-in-out;
  background: rgb(255, 88, 88);
  border-radius: 9px;
}

.roadmapHeader {
  @apply flex flex-col md:flex-row justify-between items-center;
}

.roadmapHeaderHeadline {
  @apply !text-white !text-2xl;
}

.switchContent {
  @apply flex flex-col gap-y-2 text-white text-left mb-12;
}