.root {
	position: relative;
	padding: 0;
}

.marqueeImage {
	position: relative;
	max-width: 180px;
	bottom: -10px;
	
}

@media screen and (max-width: 768px) {
	.marqueeImage {
		max-width: 150px;
	}
}
