.root {
	@apply relative pb-24 pt-0;
	background-color: rgb(234, 76, 76);
}

.stepPanel {
	@apply relative md:flex justify-between flex-col md:flex-row;;
	border-radius: 40px;
	text-align: center;
	height: auto;
	margin: 0 auto;
}

.frame {
	@apply relative md:flex justify-center place-items-center;
	z-index: 1;
	margin: 5em;
}

.frame,
.bgImage {
	border-radius: 30px;
}


.fuseWindow {
	@apply pt-24;
	padding: 0;
	border-radius: 30px 30px 0 0;
}

.fuseImages {
	@apply relative w-64 h-64 mx-auto mb-12 md:w-96 md:h-96 md:my-auto;
}

.fuseImg {
	top: 0;
	left: 0;
	pointer-events: none;
}
.controls {
	@apply relative w-full md:w-4/12 inline-flex md:gap-y-2 text-center justify-center py-12;
	z-index: 3;
	color: #fff;
}

.nftPanel {
	padding: 2em 0;
	border-radius: 30px 30px 0 0;
}
.nftRow {
	@apply !py-6;
}
.nftRowHeader {
	@apply !text-white;
}

.nftItem {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 3em;
	border-radius: 20px;
	background-color: #ddd;
}
.nftItem:hover {
	cursor: pointer;
}
.traitSliders {
	@apply flex flex-col justify-center place-items-center;
	align-items: stretch;
	gap: 1em 0;
}
.traitItem {
	margin: 5px 0 1em;
	padding-bottom: 1em;
}
.nftHeader {
	user-select: none;
}

.bgImage {
	z-index: 3;
}
.head, .skin, .hair{
	z-index: 4;
}
.tears {
	z-index: 5;
}
.headwear {
	z-index: 6;
}
.mouthwear {
	z-index: 7;
}
.clothes {
	z-index: 8;
}

.swiper-container {
  width: 480px;
}
.traitBrowser {
	@apply relative flex place-items-center justify-center px-12;
	color: #383838;
}

.arrow {
  border: solid #383838;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}
.arrow.leftArrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow.rightArrow {
  @apply -rotate-45;
}
.traitAction {
	@apply absolute opacity-100 rounded-full hover:cursor-pointer hover:opacity-60;
	background-color: rgba(185,79,79,.6901960784313725);
	padding: 5px 9px 5px 12px;
}
.left {
	@apply left-0;
}
.right {
	@apply right-0;
	padding: 5px 12px 5px 9px;
}
.traitHeader {
	@apply text-xl mb-2;
}


@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 1024px;
  }
}