.root {
  @apply hidden relative py-8 md:flex flex-row justify-between;
}
.navButton {
  @apply px-6 py-2.5;
  border-radius: 20px;
}
.mainNav {
  @apply inline-flex flex-row justify-between items-center gap-x-8 text-lg;
  
}
.mainNav li a {
  @apply opacity-100 hover:opacity-80 hover:cursor-pointer;
  font-family: "Rammetto One",sans-serif;
}
.navLink {
  @apply hover:cursor-pointer;
}
.navDropLink {
  @apply absolute inline-flex px-8 py-1 border-2 mt-2 text-sm mx-auto justify-center;
  border-radius: 20px;
}
.navDropLink:hover {
  background-color: #fff;
  color: #ff5858;
  cursor: pointer;
  text-decoration: none;
}