.root {
  @apply hidden relative py-8 md:flex flex-row justify-between;
}
.navButton {
  @apply px-6 py-2.5;
  border-radius: 20px;
}
.navButton.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.mainNav {
  @apply inline-flex flex-row justify-between items-center gap-x-8 text-lg;
  
}
.mainNav li a {
  @apply opacity-100 hover:opacity-80 hover:cursor-pointer;
  font-family: "Rammetto One",sans-serif;
}
.navLink {
  @apply hover:cursor-pointer;
}
.navItems {
  @apply absolute flex flex-col gap-y-1 mt-0;
  background-color: rgb(234, 76, 76);
}

.navDropLink {
  @apply hover:underline;
}
.navButtonDrop {
  @apply inline-flex px-8 py-1 border-0 text-sm justify-center hover:underline;
  border-radius: 20px;
  border-color: #fff;
}

.navDropLink:hover {
  background-color: #fff;
  color: #ff5858;
  cursor: pointer;
  text-decoration: none;
}