.root {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0 2.5em;
}
.root:nth-of-type(odd) {
	flex-direction: row-reverse;
}
.cardText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	gap: 5px 0;
	text-align: left;
}
.cardText h3,
.cardText h4 {
	text-transform: uppercase;
}
.cardText h3 {
	color: #000;
	font-size: 1.5rem;
	line-height: 1;
	margin: 0;
}
.cardText h4 {
	color: #ea4c4c;
	font-size: 1.2rem;
	margin: 0;
}
.cardText p {
	font-family: "Prompt", sans-serif;
	font-weight: 600;
	font-size: 1rem;
	color: #7d7575;
	max-width: 55ch;
	margin: 0;
}
.cardImage {
	border-radius: 50px;
	max-width: 400px;
}
.twitterImage {
	max-width: 55px;
}

@media screen and (max-width: 768px) {
	.root,
	.root:nth-of-type(odd) {
		flex-direction: column-reverse;
		gap: 2em 0;
		max-width: 400px;
	}
	.cardImage {
		max-width: 250px;
	}
}
